.layoutSearch{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    Input{
        width: 20%;
        margin-right: 10px;
    }

}
.screenTitle{
    color: #111111;
    font-weight: 500;
}