@import '../../global.scss';
.contact{
    display: flex;
    width: 100%;
    position: relative;
}
.contact__form{
    width: 50%;
    padding-right: 30px;
    h1{
        text-transform: uppercase;
    }
    .form__item{
        margin-top: 40px;
        position: relative;
        label{
            position: absolute;
            font-size: 1rem;
            top: -13px;
            left: 36px;
            background: $background-color;
            padding-left: 10px;
            padding-right: 10px;
        }
        input{
            width: 100%;
            height: 50px;
            background-color: transparent !important;
            border: 1px solid #2e344e;
            border-radius: 10px;
            font-size: 1rem;
            padding-left: 10px;
        }
        input:focus{
            outline: none;
        }
        textarea{
            width: 100%;
            background:transparent;
            border: 1px solid #2e344e;
            border-radius: 10px;
            font-size: 1rem;
            padding-left: 10px;
        }
        button{
            height: 50px;
            width: 150px;
            font-size: 1.3rem;
            background-color: $blue-color;
            outline: none;
            border: none;
            position: relative;
            color:white;
            cursor: pointer;
        }
        button:before{
            content:"";
            position: absolute;
            width: 0%;
            height: 1px;
            background-color: white;
            bottom:0;
            left: 0;
            transition: 0.4s all ease-in-out;
        }
        button:hover:before{
            width: 100%;
        }
    }
   
}
.contact__infor{
    width: 50%;

    .infor__item{
        display: flex;
        background: #191d2b;
        padding: 40px;
        width: 100%;
        margin-bottom: 10px;
        border-radius: 10px;
        animation: infor-motion 2s;
        div:nth-child(1){
            border: $border-style;
            align-items: center;
            display: flex;
            justify-content: center;
            font-size: 2rem;
            width: 75px;
            height: 75px;
        }
        div:nth-child(2){
            padding-left: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h1{
                font-size: 1.5rem;

                color:white;
            }
            p{
                font-size: 1.1rem;
            }
        }
    }

}
@keyframes infor-motion{
    from{
        transform:  rotateX(90deg);
    }
    to{
        transform:rotateX(0);
    }
}