@import '../../global.scss';
.achivement-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px, max-content));
    
    position: relative;
    >div{
        position: relative;
        height: 300px;
        margin: 10px;
        perspective: 600px;
    }
    section{
       
        background-color: white;
        height: 300px;
        display: flex;
        border-radius: 10px;
        overflow: hidden;
        transition: 0.2s all ease-in-out;
        user-select: none;
        transform-origin: center top;
        @include animation;
        .achivement-item__info{
            width: 75%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 20px;
            article:nth-child(1){
                p:nth-child(1){
                    font-weight: 500;
                    line-height: 2.5rem;
                    font-size: 1.3rem;
                }
                p:nth-child(2){
                    font-weight: 700;
                    line-height: 1.5rem;
                    font-size: 1.5rem;
                }
                a{
                    line-height: 1.5rem;
                    font-size: 1rem;
                    padding-top: 5px;
                    text-decoration: none;
                }
            }
            article:nth-child(2){
                display: flex;
                justify-content: space-between;
                div:nth-child(1){
                    span{
                        display: inline-block;
                    }
                    aside{
                        display: inline-block;
                    }
                }

            }
        }
        .achivement-item__img{
            width: 25%;
            height: 100%;
            margin: auto;
            padding-left: 5px;
            padding-right: 5px;
            display: flex;
            align-items: center;
            background-color: #f3f4f5;
            figure{
                background: transparent;
                img{
                    height: auto;
                    max-width: 100%;
                }
            }
        }
    }
    section:hover{
        transform: translateY(-6px) rotateX(5deg);
    }
    .achivement-img{
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
        width: 100%; 
        transform: rotateX(180deg);
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        transition: 0.4s all ease-in-out;
        transform-origin: center right;
    }
    .achivement-img--fliped{
        transform: rotateX(90deg) !important;
        // opacity: 0;
    }
}