@import '../../global.scss';
.title{
    position: relative;
    animation: title-animate 0.4s ease-in-out ;
    margin:50px 0 50px 0;
}
@keyframes title-animate{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.title__header{
    font-size: 2.3rem;
    padding-bottom: 10px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    z-index: 100;
}
.title__line{
    display: block;
    position: relative;
    width: 100px;
    height: 5px;
    border-radius: 10px;
    background-color: rgba(3,127,255,.3);
    z-index: 2;
}
.title__line::before{
    content: "";
    position: absolute;
    background-color: $blue-color;
    top: 0;
    bottom: 0;
    left: 0;
    width: 35px;
    border-radius: 10px;
    z-index: 2;
    @include process-animation(1s,0.4s);
}
.title__shadow{
    position: absolute;
    font-size: 4rem;
    top: 100%;
    left:10px;
    transform: translateY(-50%);
    color: rgba(25,29,43,.6);
    z-index: 1;
    text-transform: uppercase;
}