@import '../../global.scss';
.skills{
    width: 100%;
    height: 300px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(50%,1fr));
    grid-template-rows: repeat(auto-fit,100px);
    div{
       
    }
}
.process-inner{
    display: flex;
    margin-top: 10px;
    align-items: center;
}
.process-tilte{
    font-weight: 700;
    color: white;
}
.process-percentange{
    // display: inline-block;
    width: 100px;
}
.process-container{
    width: calc( 100% - 200px);
    height:5px;
    display: block;
    background-color: #2e344e;
    position: relative;
    span{
        position: absolute;
        left: 0;
        top:0;
        @include process-animation(0.8s,0);
        // width: 90%;
        bottom: 0;
        border-radius: 10px;
        background-color: $blue-color;
    }
}
.resume-smallheader{
    display: flex;
    justify-items: center;
    align-items: center;
    margin-bottom: 30px;
    h1{
        position: relative;
        display: inline-block;
        color: white;
        font-size: 2rem;
        text-transform: uppercase;
    }
    span{
        font-size: 2rem;
    }
}

// working experience css
.working{
    position: relative;
    width: 100%;
    border-left: 4px solid $border-color;
    
}
.time{
    flex: 0 0 30%;
    h1{
        font-size: 1.5rem;
        margin-left: 20px;
    }
    position: relative;
    
}
.time::before{
    width: 10px;
    height: 10px;
    border: 4px solid $border-color;
    border-radius: 50%;
    position: absolute;
    top:7px;
    left:-11px;
    z-index: 100;
    background-color: $background-color;
    content: "";
}
.working-des{
    padding-left: 50px;
    h1{
        font-size: 1.5rem;
        color: rgb(42, 110, 199);
    }
    h3{
        margin-bottom: 10px;
        color: white;
    }
    p{

    }
}
.working-item{
    display: flex;
    padding-bottom: 40px;
}
.working-des__content{
    ul{
        list-style: inside;
        li{
            margin-bottom: 5px;
            line-height: 20px;
        }
    }
    p{
        line-height: 30px;
    }
   
}
@media only screen and (max-width : 700px){
    .process-inner{
        flex-direction: column;
        align-items:flex-start;
    }
    .process-container{
        width: calc(100% - 20px);
    }
}